*{
	margin: 0;
	padding: 0;
	outline-style: none;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

header{
	width: 100%;
	height: 80px;
	background:rgba(255,255,255,0.88);
	display: flex;
	justify-content: space-around;
	padding:0px 120px;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
header>span{
	width: auto;
	height: auto;
	margin-top: 25px;
	color:#888;
	cursor: pointer;
}
header>span>a{
	color: #888;
}
header>span>a:hover{
	color: #000;
	text-align: center;
}
.logo{
	display: block;
	width: 152px;
	height: 75px;
	background: url(../img/logo.png) no-repeat 0 -66px;
	margin-top: -1px;
}
.logo>a{
	display: block;
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
	height: 714px;
	background: url(img/m0.jpg) no-repeat ;
	position: relative;
	background-size: cover;
	background-position: center center;
}
.zi{
	width: 390px;
	height: 360px;
	position: absolute;
	top: 30%;
	left: 39%;
}
.zi>span:nth-child(1){
	width: 100%;
	height: 19px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(img/m1.png) no-repeat center top;
}
.zi>span:nth-child(2){
	width: 100%;
	height: 102px;
	position: absolute;
	top: 40px;
	left: 0;
	background: url(img/m1.png) no-repeat center -40px;
}
.zi>span:nth-child(3){
	width: 100%;
	height: 38px;
	position: absolute;
	top: 177px;
	left: 0;
	background: url(img/m1.png) no-repeat center -177px;
}
.zi>span:nth-child(4){
	width: 100%;
	height: 1px;
	position: absolute;
	top: 245px;
	left: 0;
	background: url(img/m1.png) no-repeat center -245px;
}
.zi>span:nth-child(5){
	width: 100%;
	height: 85px;
	position: absolute;
	top: 276px;
	left: 0;
	background: url(img/m1.png) no-repeat center -276px;
}
.bozi{
	width: 100%;
	height: 800px;
	background:url(img/m2.jpg)no-repeat center center;
	position: relative;
}
.bozi>span:nth-child(1){
	width: 297px;
	height: 19px;
	position: absolute;
	top: 230px;
	right: 100px;
	background: url(img/m3.png)no-repeat center top;
}
.bozi>span:nth-child(2){
	width: 297px;
	height: 128px;
	position: absolute;
	top: 270px;
	right: 100px;
	background: url(img/m3.png)no-repeat center -38px;
}
.bozi>span:nth-child(3){
	width: 297px;
	height: 3px;
	position: absolute;
	top: 407px;
	right: 100px;
	background: url(img/m3.png)no-repeat center -194px;
}
.bozi>span:nth-child(4){
	width: 297px;
	height: 157px;
	position: absolute;
	top: 425px;
	right: 100px;
	background: url(img/m3.png)no-repeat center -234px;
}
.san{
	width: 100%;
	height: 800px;
	position: relative;
	overflow: hidden;
}
.banner{
	width: 300px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.banner>li{
	width: 1920px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 1920px;
}
.banner>li:nth-child(1){
	left: 0;
	background: url(img/m3-0.jpg);
}
.banner>li:nth-child(2){
	background: url(img/m3-1.jpg);
}
.banner>li:nth-child(3){
	background: url(img/m3-2.jpg);
}





